{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
            "env", 
            { 
                "targets": { "node": 8 }
            }
        ]
      ]
    }
  }
}

